<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<style>
  :host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 8px 0;
  }

  p {
    margin: 0;
  }

  .spacer {
    flex: 1;
  }

  .toolbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #1976d2;
    color: white;
    font-weight: 600;
  }

  .toolbar img {
    margin: 0 16px;
  }

  .toolbar #twitter-logo {
    height: 40px;
    margin: 0 8px;
  }

  .toolbar #youtube-logo {
    height: 40px;
    margin: 0 16px;
  }

  .toolbar #twitter-logo:hover,
  .toolbar #youtube-logo:hover {
    opacity: 0.8;
  }

  .content {
    display: flex;
    margin: 82px auto 32px;
    padding: 0 16px;
    max-width: 960px;
    flex-direction: column;
    align-items: center;
  }

  svg.material-icons {
    height: 24px;
    width: auto;
  }

  svg.material-icons:not(:last-child) {
    margin-right: 8px;
  }

  .card svg.material-icons path {
    fill: #888;
  }

  .card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 16px;
  }

  .card {
    all: unset;
    border-radius: 4px;
    border: 1px solid #eee;
    background-color: #fafafa;
    height: 40px;
    width: 200px;
    margin: 0 8px 16px;
    padding: 16px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease-in-out;
    line-height: 24px;
  }

  .card-container .card:not(:last-child) {
    margin-right: 0;
  }

  .card.card-small {
    height: 16px;
    width: 168px;
  }

  .card-container .card:not(.highlight-card) {
    cursor: pointer;
  }

  .card-container .card:not(.highlight-card):hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
  }

  .card-container .card:not(.highlight-card):hover .material-icons path {
    fill: rgb(105, 103, 103);
  }

  .card.highlight-card {
    background-color: #1976d2;
    color: white;
    font-weight: 600;
    border: none;
    width: auto;
    min-width: 30%;
    position: relative;
  }

  .card.card.highlight-card span {
    margin-left: 60px;
  }

  svg#rocket {
    width: 80px;
    position: absolute;
    left: -10px;
    top: -24px;
  }

  svg#rocket-smoke {
    height: calc(100vh - 95px);
    position: absolute;
    top: 10px;
    right: 180px;
    z-index: -10;
  }

  a,
  a:visited,
  a:hover {
    color: #1976d2;
    text-decoration: none;
  }

  a:hover {
    color: #125699;
  }

  .terminal {
    position: relative;
    width: 80%;
    max-width: 600px;
    border-radius: 6px;
    padding-top: 45px;
    margin-top: 8px;
    overflow: hidden;
    background-color: rgb(15, 15, 16);
  }

  .terminal::before {
    content: "\2022 \2022 \2022";
    position: absolute;
    top: 0;
    left: 0;
    height: 4px;
    background: rgb(58, 58, 58);
    color: #c2c3c4;
    width: 100%;
    font-size: 2rem;
    line-height: 0;
    padding: 14px 0;
    text-indent: 4px;
  }

  .terminal pre {
    font-family: SFMono-Regular,Consolas,Liberation Mono,Menlo,monospace;
    color: white;
    padding: 0 1rem 1rem;
    margin: 0;
  }

  .circle-link {
    height: 40px;
    width: 40px;
    border-radius: 40px;
    margin: 8px;
    background-color: white;
    border: 1px solid #eeeeee;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: 1s ease-out;
  }

  .circle-link:hover {
    transform: translateY(-0.25rem);
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
  }

  footer {
    margin-top: 8px;
    display: flex;
    align-items: center;
    line-height: 20px;
  }

  footer a {
    display: flex;
    align-items: center;
  }

  .github-star-badge {
    color: #24292e;
    display: flex;
    align-items: center;
    font-size: 12px;
    padding: 3px 10px;
    border: 1px solid rgba(27,31,35,.2);
    border-radius: 3px;
    background-image: linear-gradient(-180deg,#fafbfc,#eff3f6 90%);
    margin-left: 4px;
    font-weight: 600;
  }

  .github-star-badge:hover {
    background-image: linear-gradient(-180deg,#f0f3f6,#e6ebf1 90%);
    border-color: rgba(27,31,35,.35);
    background-position: -.5em;
  }

  .github-star-badge .material-icons {
    height: 16px;
    width: 16px;
    margin-right: 4px;
  }

  svg#clouds {
    position: fixed;
    bottom: -160px;
    left: -230px;
    z-index: -10;
    width: 1920px;
  }

  /* Responsive Styles */
  @media screen and (max-width: 767px) {
    .card-container > *:not(.circle-link) ,
    .terminal {
      width: 100%;
    }

    .card:not(.highlight-card) {
      height: 16px;
      margin: 8px 0;
    }

    .card.highlight-card span {
      margin-left: 72px;
    }

    svg#rocket-smoke {
      right: 120px;
      transform: rotate(-5deg);
    }
  }

  @media screen and (max-width: 575px) {
    svg#rocket-smoke {
      display: none;
      visibility: hidden;
    }
  }
</style>

<!-- Toolbar -->
<div class="overlay" *ngIf="showLoader" (click)="showLoader = false; page='dashboard'">
  <div class="overlay__inner">
      <div class="overlay__content"><span class="spinner"></span></div>
  </div>
</div>

<div>
  <!-- -------------------------- -->
  <!-- -------- Init Page ----------- -->
  <!-- -------------------------- -->
  <div class="row vh-100" *ngIf="page == 'login'">
    <div class="col-xs-6 login-content">
      <div class="logo">
        <img src="/assets/imgs/logo.png" alt="">
      </div>

      <div *ngIf="screen == 'home'" class="text-center" style="font-size: 18px;">
        <span>Bienvenido <br/> Inicia sesión para continuar</span>
      </div>

      <!-- -------------------------- -->
      <!-- -------- Login ----------- -->
      <!-- -------------------------- -->
      <div class="login-input" *ngIf="screen == 'home'">

        <div class="row">
          <div class="col-xs-6 lb-title">
            <span >Cliente</span>
          </div>
          <input >
        </div>

        <div class="row">
          <div class="col-xs-6 lb-title">
            <span >Usuario</span>
          </div>
          <input type="text" [(ngModel)]="email" name="email" [ngModelOptions]="{standalone: true}"
            (ngModelChange)="error = false" [ngClass]="{'error': error}">
          <!-- <input [(ngModel)]="email" > -->
        </div>

        <div class="row">
          <div class="col-xs-6 lb-title">
            <span >Contraseña</span>
          </div>
          <!-- <input type="password"> -->
          <input type="password" [(ngModel)]="password" name="password" [ngModelOptions]="{standalone: true}"
            (ngModelChange)="error = false" [ngClass]="{'error': error}">
        </div>

        <div *ngIf="error" class="error-msg">
          <span>Tus datos de acceso no son correctos</span>
        </div>

        <div class="row">
          <div class="col-xs-6 lb-title">
            <span></span>
          </div>
          <a (click)="changeScreen('forgotPassword')" class="register">Olvide mi contraseña</a>
        </div>

        <div class="row">
          <div class="col-xs-6 lb-title">
            <span>Recuerdame</span>
          </div>
          <div class="col-xs-6">
            <button class="se-btn" (click)="login()"> INGRESAR </button>
          </div>
        </div>

      </div>


      <!-- -------------------------- -->
      <!-- -------- Forgot Passoword ----------- -->
      <!-- -------------------------- -->
      <div *ngIf="screen == 'forgotPassword'" class="flex-center forgot-password">
        <!-- <mat-icon>lock</mat-icon> -->
        <img *ngIf="!sendEmail" src="/assets/imgs/lock.png" alt="">
        <div *ngIf="!sendEmail">
          <span>Tu correo electrónico</span>
          <input >
        </div>
        <button *ngIf="!sendEmail" class="se-btn" (click)="sendEmail = true"> CONFIRMAR </button>

        <div *ngIf="sendEmail" class="fp-message">
          <span>
            Se ha enviado un correo electrónico con las credenciales para restablecer tu contraseña
          </span>
        </div>
      </div>

      <!-- -------------------------- -->
      <!-- -------- Register ----------- -->
      <!-- -------------------------- -->
      <div class="login-input" *ngIf="screen == 'register'">

        <div class="row">
          <div class="col-xs-6 lb-title">
            <span >Nombre</span>
          </div>
          <input >
        </div>

        <div class="row">
          <div class="col-xs-6 lb-title">
            <span >Apellidos</span>
          </div>
          <input >
        </div>

        <div class="row">
          <div class="col-xs-6 lb-title">
            <span >Correo</span>
          </div>
          <input >
        </div>

        <div class="row">
          <div class="col-xs-6 lb-title">
            <span >Contraseña</span>
          </div>
          <input >
        </div>

        <div class="row">
          <div class="col-xs-6 lb-title">
            <span >Repetir Contraseña</span>
          </div>
          <input type="password" >
        </div>

      </div>

      <div class="text-center">
        <a *ngIf="screen == 'home'" (click)="changeScreen('register')" class="register">Registrarme</a>

        <div *ngIf="screen == 'register' || screen == 'forgotPassword'" class="flex-center">
          <button class="se-btn" *ngIf="screen == 'register'" (click)="register()"> REGISTRARME </button>
          <a (click)="changeScreen('home')" class="register" style="padding-top: 15px;">
            Volver a inicio de sesión</a>
        </div>
        

      </div>

      <div class="text-center">
        "Tu solución en nuestas manos"
      </div>
  
      <!-- -------------------------- -->
      <!-- -------- Social Icon ----------- -->
      <!-- -------------------------- -->
      <div class="social-icon">
        <div>
          <img src="/assets/imgs/facebook.png" alt="">
        </div>
        <div>
          <img src="/assets/imgs/insta.png" alt="">
        </div>
        <div>
          <img src="/assets/imgs/telegram.png" alt="">
        </div>
        <div>
          <img src="/assets/imgs/whatsapp.png" alt="">
        </div>
      </div>

    </div>
  
    <div class="col-xs-6 bg-div">
      <div style="background-image: url(/assets/imgs/background.png)" class="bg-div">
      
        <p class="bg-title">Usa nuestro sistema al toque <br/> descargando el app</p>
        <p class="bg-subtitle">¡Descárgala aquí y ahora en iOS o Android <br/> para crear tu cuenta!</p>

        <div class="div-store">
          <div>
            <img src="/assets/imgs/playsore.png" alt="">
            <p>Play  Store</p>
          </div>
          <div>
            <img src="/assets/imgs/appsore.png" alt="">
            <p>App  Store</p>
          </div>
        </div>

      </div>
    </div>

  </div>

  <!-- -------------------------- -->
  <!-- -------- Dashboard Page ----------- -->
  <!-- -------------------------- -->
  <div *ngIf="page == 'dashboard'" class="dashboard">

    <div class="dsh-title">
      <h1>Gestión de inversiones</h1>
      <div>
        <span>Bienvenido Estimad@ Gerardo Padilla</span>
        <img src="/assets/imgs/user.png" alt="">
      </div>
    </div>

    <div class="dsh-grid">
      <div class="dsh-div dash-menu">
        <img src="/assets/imgs/logo_dsh.png" alt="">
        <hr>

        <div class="i-menu">
          <div class="div-select">
            <i class="fas fa-table-cells i-select"></i>
          </div>
          <div>
            <i class="fas fa-folder-open"></i>
          </div>
          <div class="menu-bell">
            <i class="fas fa-bell"></i>
            <div>2</div>
          </div>
        </div>

        <hr class="hr-menu">

        <div class="bottom-menu">
          <i class="fas fa-sun i-select"></i>
          <i class="fa fa-moon"></i>
        </div>


      </div>

      <div class="dash-content">
        <div class="dsh-div investment">
          <div class="col-xs-6">
            <div class="investment-content-main">
              <div class="investment-title">
                <h4>Grafico de Inversiones</h4>
                <img src="/assets/imgs/business_chart.png" alt="">
              </div>
  
              <div class="inverstment-percentaje">
                <div class="center-item">
                  <i class="fas fa-arrow-trend-up"></i>
                </div>
                <span>80%</span>
              </div>
  
              <h5>Información de Inversiones</h5>
  
              <div class="div-chart">
                <div>
                  <span class="balance-amount">2,164.00</span>
                  <div class="balance-percentaje">
                    <span>+6.4%</span>
                    <i class="fas fa-circle-up"></i>
                  </div>
                </div>
  
                <div class="chart center-item">
                  <div>
                    <span>46%</span>
                    <span class="increase">Increase</span>
                  </div>
                </div>
              </div>
  
              <div class="info-chart">
                <div style="background: #18A0FB;"></div>
                <h4>Inversion</h4>
                <div></div>
                <h4>Rentabilidad</h4>
              </div>
            </div>
          </div>

          <div class="col-xs-6 inv-info-main">
            <div class="inv-option">
              <div>
                <select name="month" id="mont" style="width: 100px;">
                  <option value="Enero">Enero</option>
                  <option value="Febrero">Febrero</option>
                  <option value="Marzo">Marzo</option>
                  <option value="Abril">Abril</option>
                  <option value="Mayo">Mayo</option>
                  <option value="Junio">Junio</option>
                  <option value="Julio">Julio</option>
                  <option value="Agosto">Agosto</option>
                  <option value="Septiembre">Septiembre</option>
                  <option value="Octube">Octube</option>
                  <option value="Noviembre">Noviembre</option>
                  <option value="Diciembre">Diciembre</option>
                </select>
              </div>
              <div>
                <select name="year" id="year" style="width: 100px;">
                  <option value="2022">2022</option>
                  <option value="2022">2022</option>
                  <option value="2022">2022</option>
                  <option value="2022">2022</option>
                </select>
              </div>
            </div>

            <div class="inver-div ivc-estimate mgv-0 inv-cnt div-red">
              <div class="center-item d-red">
                <i class="fas fa-calculator"></i>
              </div>
              <section class="cont-middle">
                <span>Title</span>
                <section>
                  <span class="cont-middle-span">128.6</span>
                  <i class="fas fa-arrow-trend-up"></i>
                </section>
              </section>
              <section>
              </section>
            </div>

            <div class="inver-div ivc-estimate mgv-0 inv-cnt div-orange">
              <div class="center-item d-orange">
                <i class="fas fa-calculator"></i>
              </div>
              <section class="cont-middle">
                <span>Title</span>
                <section>
                  <span class="cont-middle-span">64%</span>
                  <i class="fas fa-arrow-trend-up"></i>
                </section>
              </section>
              <section class="center-item bg-gray">
                <i class="fas fa-chevron-right"></i>
              </section>
            </div>

            <div class="inver-div ivc-estimate mgv-0 inv-cnt">
              <div class="center-item">
                <i class="fas fa-file-circle-check"></i>
              </div>
              <section class="cont-middle">
                <span>Title</span>
                <section>
                  <span style="font-size: 20px;">24</span>
                  <span style="font-size: 10px; padding-right: 10px;">/32</span>
                  <i style="color: #779ACF;" class="fas fa-arrow-trend-up"></i>
                </section>
              </section>
              <section>
              </section>
            </div>

          </div>
        </div>

        <div class="investment-bottom">
          <div class="dsh-div balance row">
            <div class="col-xs-6">
              <img src="/assets/imgs/TU-EFECTIVO-ALTOQUE.png" width="100%" alt="">
              <div class="balance-content">
                <span>Balance</span>
                <hr>
                <span class="balance-amount">$64,124.00</span>
                <div class="balance-percentaje">
                  <span>+6.4%</span>
                  <i class="fas fa-circle-up"></i>
                </div>
              </div>
            </div>

            <div class="col-xs-6 balance-btn">
              <div class="icon-btn">
                <div>
                  <i class="fas fa-dollar-sign"></i>
                  <span>Solicitar <br/> Prestamo</span>
                </div>
              </div>
              <div class="icon-btn">
                <div>
                  <i class="fas fa-link"></i>
                  <span>Crear Link</span>
                </div>
              </div>
            </div>
          </div>

          <div class="dsh-div balance">
            <div class="balance-content">
              <div class="balance-client">
                <span>Cliente Oro</span>
                <div>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                </div>
              </div>
  
              <div class="balance-percent-value">
                <span>64%</span>
                <span>100%</span>
              </div>
  
              <div class="bar-loader">
                <div class="charge"></div><div class="no-charge"></div>
              </div>
  
              <div class="balance-percent-value" style="margin: 9px 0px;">
                <span class="next-lvl">Falta 36% para el siguiente Nivel</span>
                <div class="btn-up-lvl">Subir Nivel</div>
              </div>
  
              <div class="benefit">
                <span>Mis beneficios</span> 
              </div>
  
              <div class="benefit-list">
                <div>
                  <i class="fas fa-check-double"></i>
                  <span>1 Unlimited Bandwidth</span>
                </div>
                <div>
                  <i class="fas fa-check-double"></i>
                  <span>2 PDF Access Sosmed</span>
                </div>
                <div>
                  <i class="fas fa-check-double"></i>
                  <span>1 Support System</span>
                </div>
                <div>
                  <i class="fas fa-check-double"></i>
                  <span>1 Support System</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="dsh-div dash-info">
        <div class="inver-div notifi">
          <div class="center-item noti-count">
            <span>2</span>
          </div>
          <div class="noti-body">
            <span>Notificacion</span>
            <span>Tienes Nuevas Notificaciones</span>
          </div>
          <div>
            <i class="fas fa-x noti-close"></i>
          </div>
        </div>

        <div class="top-inver">
          <i class="fas fa-person-rays"></i>
          <span>TOP DE INVERSIONES</span>
        </div>

        <div class="inver-div investment-card">
          <div class="inver-row">
            <div class="center-item i-circular">
              <i class="fas fa-user-large"></i>
            </div>
            <span>Inversion Más Alta</span>
          </div>

          <div class="investment-content">
            <span>32</span>
            <i class="fas fa-arrow-trend-up"></i>

            <div class="inv-date">
              <div>
                <span>Fecha de Inversión</span>
                <span>25/28/2022</span>
              </div>

              <div>
                <span>Rentabilidad</span>
                <span>S/.  7250</span>
              </div>
            </div>
          </div>
        </div>

        <div class="inver-div investment-card">
          <div class="inver-row">
            <div class="center-item i-circular">
              <i class="fas fa-user-large"></i>
            </div>
            <span>Inversion Más Baja</span>
          </div>

          <div class="investment-content">
            <span>32</span>
            <i class="fas fa-arrow-trend-up"></i>

            <div class="inv-date">
              <div>
                <span>Fecha de Inversión</span>
                <span>25/28/2022</span>
              </div>

              <div>
                <span>Rentabilidad</span>
                <span>S/.  7250</span>
              </div>
            </div>
          </div>
        </div>

        <div class="invoice">
          <h5>Facturas</h5>

          <div class="inver-div ivc-estimate">
            <div class="center-item">
              <i class="fas fa-file-circle-check"></i>
            </div>
            <span>Estimadas</span>
            <h6>128</h6>
          </div>

          <div class="inver-div ivc-estimate">
            <div class="center-item">
              <i class="fas fa-file-circle-check"></i>
            </div>
            <span>Sin emitir</span>
            <h6>128</h6>
          </div>

          <div class="upload-pfd">
            <div class="max-pdf">
              <span>Subir documento en PDF</span>
              <span style="color: red;">* <span>max. 256 GB</span></span>
            </div>
            <div class="btn-pdf">
              <i class="fas fa-upload"></i>
              <span>SUBIR</span> 
            </div>
          </div>
        </div>

      </div>
    </div>

  </div>
</div>

