:root {
  --color-red: rgba(213, 14, 14, 0.7);
  --color-purple: #642EFF;
}

*{font-family: 'Montserrat', sans-serif;}

.bg-div {
    background-size: cover;
    height: 100vh;
    text-align: center;
}

.bg-title {
  padding-top: 4rem;
  padding-bottom: 2rem;
}

.bg-subtitle {
  padding-bottom: 2rem;
}

.register {
  text-align: center;
  text-decoration: underline !important;;
  color: var(--color-red) !important;
}

.register:hover {
  cursor: pointer;
}

.bg-div p {
  color: white;
  font-size: 16px;
  font-weight: bold;
}

.login-content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100vh;
}

.logo {
    text-align: center;
}

.logo img {
  width: 70%;
}

.social-icon {
  width: 50%;
  display: flex;
  justify-content: space-between;

  margin: 0 auto;
}

.div-store {
  width: 45%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

.div-store div {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.div-store img {
  width: 70px;
}

.social-icon div {
    color: #ff00ff;
    /* border-radius: 40px;
    width: 40px;
    height: 40px; */
 }

 .social-icon div img {
    border-radius: 50px;
    width: 50px;
    height: 50px;
 }

 .login-input > div {
    margin: 18px 0px;
 }

 .lb-title span {
    padding-left: 30%;
    padding-left: 30%;
    font-size: 15px;
    font-weight: bold;
    color: var(--color-red);
 }

 input {
    border: 2px solid #B5B2B2;
    border-radius: 5px;
    height: 23px;
    background-color: rgba(217, 217, 217, 0.1);
 }

 .se-btn {
    width: 53%;
    color: white;
    background-color: red;
    border: none;
    border-radius: 6px;
    height: 30px;
    font-size: 17px;
 }

 .forgot-password div input{
  width: 240px !important;
 }

 .forgot-password div {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5rem;
}

.forgot-password img {
  width: 60px;
  padding-bottom: 1rem;
}

.forgot-password div span{
  color: var(--color-red);
}

 .forgot-password button {
  width: 250px !important;
}

.fp-message {
  width: 60%;
  text-align: center;
  background-color: #D9D9D9;
  padding: 2rem;
}

 .flex-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 }
 
 .overlay {
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  background: rgb(255, 255, 255, 0.85);
  z-index: 9;
}

.overlay__inner {
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  position: absolute;
}

.overlay__content {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

.spinner {
  width: 75px;
  height: 75px;
  display: inline-block;
  border-width: 2px;
  /* border-color: rgba(255, 255, 255, 0.05); */
  border-top-color: #fff;
  animation: spin 1s infinite linear;
  border-radius: 100%;
  border-style: solid;
}

@keyframes spin {
100% {
  transform: rotate(360deg);
}
}

.dashboard {
  background-color: #F6F5F3;
  height: 100vh;
}

.dsh-title {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  align-items: center;
}

.dsh-title div {
  display: flex;
  align-items: center;
}

.dsh-title div span {
  margin-right: 20px;
}

.dsh-title div img{
  border-radius: 50px;
  width: 50px;
  height: 50px;
  object-fit: cover;
}

.dsh-grid {
  display: flex;
  height: calc(100% - 70px);
}

.dsh-div {
  background-color: white;
  border-radius: 15px;
  margin: 15px;
  /* margin: 0px 15px 15px 15px; */
  box-shadow: 0px 2px 8px rgba(196, 202, 212, 0.24);

}

.dash-menu {
  height: 94%;
  width: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dash-menu img {
  width: 30%;
  padding: 25px;
}

.dash-menu hr {
  border: 1px solid #F3F4F6;
  width: 60%;
}

.dash-menu  i {
  font-size: 18px;
  color: #7D8BA1;
}

.i-menu div {
  width: 40px;
  height: 40px;
  margin: 10px 0px;
  border-radius: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.div-select {
  background-color: #F3F4F6;
}

.i-select {
  color: black !important;
}

.hr-menu {
  margin: 3rem 0px;
}

.bottom-menu {
  display: flex;
  flex-direction: column;
}

.bottom-menu i {
  margin-bottom: 30px;
}

.menu-bell {
  position: absolute;
}

.menu-bell div {
  position: absolute;
  top: -3px;
  right: 7px;
  color: white;
  background-color: #E57361;
  width: 12px;
  height: 12px;
  font-size: 9px;
}

.dash-content {
  width: 100%;
  height: 97%;
}

.dash-info {
  height: 94%;
  width: 35%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.investment {
  height: 50%;
  width: 96%;
}

.investment-bottom {
  height: 46%;
  display: flex;
}

.balance {
  height: 91%;
  width: 50% !important;
}

.balance-content {
  padding: 0px 15px 0px 1.5rem;
}

.balance-content hr {
  width: 100%;
  border: 1px solid rgba(6, 68, 254, 1);
}

.balance-amount {
  font-size: 24px;
}

.balance-percentaje {
  padding-top: 3px;
}

.balance-percentaje span {
  font-size: 12px;
  color: var(--color-purple);
}

.balance-percentaje i {
  color: var(--color-purple);
  font-size: 10px;
  margin-left: 5px;
}

.balance-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  justify-content: space-evenly;
}

.icon-btn {
  color: white;
  background-color: var(--color-purple);
  padding: 10px 30px;
  border-radius: 30px;
  font-size: 9px;
  width: 40%;
}

.icon-btn div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-btn div i {
  padding-right: 15px;
  font-size: 20px;
}

.balance-content {
  padding: 20px;
  display: flex;
  flex-direction: column;
  height: 85%;
  /* justify-content: space-between; */
}

.balance-client {
  display: flex;
  color: rgba(56, 233, 12, 1);
  padding-bottom: 10px;
}

.balance-client div {
  display: flex;
  width: 50%;
  justify-content: space-evenly;
}

.balance-percent-value {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  color: #454F5F;
  font-size: 10px;
}

.bar-loader {
  width: 100%;
  height: 10px;
  display: flex;
}

.charge {
  height: 10px;
  width: 64%;
  background-color: #779ACF;
  border-radius: 10px;
}

.no-charge {
  height: 10px;
  width: calc(100% - 64%);
  background: #F3F4F6;
  /* border-radius: 10px; */
  border-top-right-radius: 15px;
}

.next-lvl {
  font-size: 10px;
  color: gray;
}

.btn-up-lvl {
  width: 35%;
  color: white;
  background-color: black;
  height: 23px;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.benefit {
  color: rgba(181, 178, 178, 1);
  font-size: 13px;
}

.benefit-list i {
  color: #1355FF;
  margin-right: 15px;
}

.benefit-list div {
  padding: 5px 0px;
}

.inver-div {
  margin: 15px;
  padding: 10px;
  border: 1px solid #DCE0E5;
  border-radius: 12px;
}

.notifi {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.noti-count {
  width: 30px !important;
  height: 30px;
  border-radius: 15px;
  background-color: #F3F4F6;
}

.noti-body {
  font-size: 10px;
  display: flex;
  flex-direction: column;
}

.noti-close {
  color: #9C9EAB;
  font-size: 11px;
}

.top-inver {
  margin-left: 35px;
}

.top-inver i{
  font-size: 16px;
  margin-right: 10px;
}

.top-inver span {
  font-size: 12px;
}

.investment-card {
  display: flex;
  flex-direction: column;
}

.inver-row {
  display: flex;
  align-items: center;
}

.i-circular {
  width: 25px;
  height: 25px;
  border-radius: 25px;
  background-color: #FCEFED;
  color: #E57361;
}

.inver-row span {
  padding-left: 10px;
  font-size: 12px;
  color: gray;
}

.investment-content {
  display: flex;
  align-items: center;
}

.investment-content > span{
  font-size: 30px;
  padding-left: 20px;
  padding-right: 5px;
}

.investment-content > i{
  font-size: 20px;
  color: #779ACF;
  padding-right: 15px;
}

.inv-date {
  color: rgba(125, 139, 161, 1);
  font-size: 10px;
  width: 100%;
}

.inv-date div {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.invoice {
  margin: 15px;
  padding: 10px;
  border: 1px dashed #DCE0E5;;
  border-radius: 12px;
}

.invoice h5, .invoice span {
  color: rgba(125, 139, 161, 1)
}

.ivc-estimate {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.ivc-estimate div {
  height: 40px;
  width: 40px;
  border-radius: 10px;
  background-color: #F0F4FA;
  color: #779ACF;
}

.ivc-estimate i {
  font-size: 17px;
}

.ivc-estimate h6 {
  font-size: 23px;
}

.ivc-estimate span {
  font-size: 10px;
}

.upload-pfd {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.upload-pfd span {
  font-size: 8px;
  color: #B5B2B2;
}

.max-pdf {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn-pdf {
  color: white;
  background-color: black;
  padding: 5px 12px;
  border-radius: 15px;
}

.btn-pdf span {
  font-size: 10px;
  padding-left: 5px;
  color: white;
}

.investment-content-main {
  padding: 15px 0px 0px 30px;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.investment-title {
  display: flex;
  align-items: center;
}

.investment-title h4 {
  padding-right: 20px;
}

.inverstment-percentaje {
  display: flex;
  align-items: center;
  padding: 4px 10px 4px 0px;
  background-color: #18A0FB;
  border-radius: 18px;
  margin-top: 1.5rem;
}

.inverstment-percentaje div {
  background-color: #F0F4FA;
  padding: 5px;
  border-radius: 15px;
  margin-right: 7px;
}

.inverstment-percentaje i {
color: #779ACF;
}

.info-chart {
  display: flex;
  width: 80%;
  align-items: center;
  justify-content: space-between;
}

.info-chart div {
  width: 15px;
  height: 15px;
  background-color: #E57361;
  border-radius: 15px;
}

.inv-info-main {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-around;
  align-items: center;
}

.inv-option {
  display: flex;
  width: 70%;
  margin: 0px auto;
  justify-content: space-between;
}

.inv-cnt {
  width: 65% !important;
}

.cont-middle {

}

.cont-middle > span{
  color: #7D8BA1;
}

.cont-middle-span {
  font-size: 20px !important;
  padding-right: 10px;
}

.cont-middle section {
  display: flex;
  align-items: center;
}

.div-red i {
  color: #E57361 !important;
}

.d-red {
  background-color: #FCEFED !important;
}

.div-orange i {
  color: #F4A952 !important;
}

.d-orange {
  background-color: #FEF5EC !important;
}

.bg-gray {
  width: 25px;
  height: 25px;
  background: #FEF5EC;
  border-radius: 25px;
}

.div-chart {
  display: flex;
  align-items: center;
}

.chart {
  width: 100px;
    height: 100px;
    border:7px solid #18A0FB;
    border-radius: 100px;
    margin-left: 50px;
    margin-bottom: 15px;
}

.chart div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chart div span {
  font-size: 27px;
}

.increase {
  font-size: 10px !important;
  color: #6B7094;
}

select {
  border: none;
  background: #F3F4F6;
  padding: 6px 10px;
  border-radius: 10px;
}

.error {
  border-color: red !important;
}

.error-msg {
  text-align: center;
  color: red;
}

/* You can add global styles to this file, and also import other style files */
/*!
 * Bootstrap v3.3.5 (http://getbootstrap.com)
 * Copyright 2011-2016 Twitter, Inc.
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
 */

/*!
 * Generated using the Bootstrap Customizer (http://getbootstrap.com/customize/?id=dd756061b99b30782a31)
 * Config saved to config.json and https://gist.github.com/dd756061b99b30782a31
 */
/*!
 * Bootstrap v3.3.6 (http://getbootstrap.com)
 * Copyright 2011-2015 Twitter, Inc.
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
 */
/*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */

.mgv-0 {
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}
.center-item {
  display: flex;
  justify-content: center;
  align-items: center;
} 

button:hover {
  cursor: pointer;
}

.vh-100 {
    height: 100vh;
}

body{
    margin: 0px 0px 0px 0px;
  }
  .container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
  }
  @media (min-width: 768px) {
    .container {
      width: 750px;
    }
  }
  @media (min-width: 992px) {
    .container {
      width: 970px;
    }
  }
  @media (min-width: 1200px) {
    .container {
      width: 1170px;
    }
  }
  .container-fluid {
    margin-right: auto;
    margin-left: auto;
  }
  .row {
    width: 100%;
  }
  .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    position: relative;
    min-height: 1px;
  }
  .col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
    float: left;
  }
  .col-xs-12 {
    width: 100%;
  }
  .col-xs-11 {
    width: 91.66666667%;
  }
  .col-xs-10 {
    width: 83.33333333%;
  }
  .col-xs-9 {
    width: 75%;
  }
  .col-xs-8 {
    width: 66.66666667%;
  }
  .col-xs-7 {
    width: 58.33333333%;
  }
  .col-xs-6 {
    width: 50%;
  }
  .col-xs-5 {
    width: 41.66666667%;
  }
  .col-xs-4 {
    width: 33.33333333%;
  }
  .col-xs-3 {
    width: 25%;
  }
  .col-xs-2 {
    width: 16.66666667%;
  }
  .col-xs-1 {
    width: 8.33333333%;
  }
  .col-xs-pull-12 {
    right: 100%;
  }
  .col-xs-pull-11 {
    right: 91.66666667%;
  }
  .col-xs-pull-10 {
    right: 83.33333333%;
  }
  .col-xs-pull-9 {
    right: 75%;
  }
  .col-xs-pull-8 {
    right: 66.66666667%;
  }
  .col-xs-pull-7 {
    right: 58.33333333%;
  }
  .col-xs-pull-6 {
    right: 50%;
  }
  .col-xs-pull-5 {
    right: 41.66666667%;
  }
  .col-xs-pull-4 {
    right: 33.33333333%;
  }
  .col-xs-pull-3 {
    right: 25%;
  }
  .col-xs-pull-2 {
    right: 16.66666667%;
  }
  .col-xs-pull-1 {
    right: 8.33333333%;
  }
  .col-xs-pull-0 {
    right: auto;
  }
  .col-xs-push-12 {
    left: 100%;
  }
  .col-xs-push-11 {
    left: 91.66666667%;
  }
  .col-xs-push-10 {
    left: 83.33333333%;
  }
  .col-xs-push-9 {
    left: 75%;
  }
  .col-xs-push-8 {
    left: 66.66666667%;
  }
  .col-xs-push-7 {
    left: 58.33333333%;
  }
  .col-xs-push-6 {
    left: 50%;
  }
  .col-xs-push-5 {
    left: 41.66666667%;
  }
  .col-xs-push-4 {
    left: 33.33333333%;
  }
  .col-xs-push-3 {
    left: 25%;
  }
  .col-xs-push-2 {
    left: 16.66666667%;
  }
  .col-xs-push-1 {
    left: 8.33333333%;
  }
  .col-xs-push-0 {
    left: auto;
  }
  .col-xs-offset-12 {
    margin-left: 100%;
  }
  .col-xs-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-xs-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-xs-offset-9 {
    margin-left: 75%;
  }
  .col-xs-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-xs-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-xs-offset-6 {
    margin-left: 50%;
  }
  .col-xs-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-xs-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-xs-offset-3 {
    margin-left: 25%;
  }
  .col-xs-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-xs-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-xs-offset-0 {
    margin-left: 0%;
  }
  @media (min-width: 768px) {
    .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
      float: left;
    }
    .col-sm-12 {
      width: 100%;
    }
    .col-sm-11 {
      width: 91.66666667%;
    }
    .col-sm-10 {
      width: 83.33333333%;
    }
    .col-sm-9 {
      width: 75%;
    }
    .col-sm-8 {
      width: 66.66666667%;
    }
    .col-sm-7 {
      width: 58.33333333%;
    }
    .col-sm-6 {
      width: 50%;
    }
    .col-sm-5 {
      width: 41.66666667%;
    }
    .col-sm-4 {
      width: 33.33333333%;
    }
    .col-sm-3 {
      width: 25%;
    }
    .col-sm-2 {
      width: 16.66666667%;
    }
    .col-sm-1 {
      width: 8.33333333%;
    }
    .col-sm-pull-12 {
      right: 100%;
    }
    .col-sm-pull-11 {
      right: 91.66666667%;
    }
    .col-sm-pull-10 {
      right: 83.33333333%;
    }
    .col-sm-pull-9 {
      right: 75%;
    }
    .col-sm-pull-8 {
      right: 66.66666667%;
    }
    .col-sm-pull-7 {
      right: 58.33333333%;
    }
    .col-sm-pull-6 {
      right: 50%;
    }
    .col-sm-pull-5 {
      right: 41.66666667%;
    }
    .col-sm-pull-4 {
      right: 33.33333333%;
    }
    .col-sm-pull-3 {
      right: 25%;
    }
    .col-sm-pull-2 {
      right: 16.66666667%;
    }
    .col-sm-pull-1 {
      right: 8.33333333%;
    }
    .col-sm-pull-0 {
      right: auto;
    }
    .col-sm-push-12 {
      left: 100%;
    }
    .col-sm-push-11 {
      left: 91.66666667%;
    }
    .col-sm-push-10 {
      left: 83.33333333%;
    }
    .col-sm-push-9 {
      left: 75%;
    }
    .col-sm-push-8 {
      left: 66.66666667%;
    }
    .col-sm-push-7 {
      left: 58.33333333%;
    }
    .col-sm-push-6 {
      left: 50%;
    }
    .col-sm-push-5 {
      left: 41.66666667%;
    }
    .col-sm-push-4 {
      left: 33.33333333%;
    }
    .col-sm-push-3 {
      left: 25%;
    }
    .col-sm-push-2 {
      left: 16.66666667%;
    }
    .col-sm-push-1 {
      left: 8.33333333%;
    }
    .col-sm-push-0 {
      left: auto;
    }
    .col-sm-offset-12 {
      margin-left: 100%;
    }
    .col-sm-offset-11 {
      margin-left: 91.66666667%;
    }
    .col-sm-offset-10 {
      margin-left: 83.33333333%;
    }
    .col-sm-offset-9 {
      margin-left: 75%;
    }
    .col-sm-offset-8 {
      margin-left: 66.66666667%;
    }
    .col-sm-offset-7 {
      margin-left: 58.33333333%;
    }
    .col-sm-offset-6 {
      margin-left: 50%;
    }
    .col-sm-offset-5 {
      margin-left: 41.66666667%;
    }
    .col-sm-offset-4 {
      margin-left: 33.33333333%;
    }
    .col-sm-offset-3 {
      margin-left: 25%;
    }
    .col-sm-offset-2 {
      margin-left: 16.66666667%;
    }
    .col-sm-offset-1 {
      margin-left: 8.33333333%;
    }
    .col-sm-offset-0 {
      margin-left: 0%;
    }
  }
  @media (min-width: 992px) {
    .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
      float: left;
    }
    .col-md-12 {
      width: 100%;
    }
    .col-md-11 {
      width: 91.66666667%;
    }
    .col-md-10 {
      width: 83.33333333%;
    }
    .col-md-9 {
      width: 75%;
    }
    .col-md-8 {
      width: 66.66666667%;
    }
    .col-md-7 {
      width: 58.33333333%;
    }
    .col-md-6 {
      width: 50%;
    }
    .col-md-5 {
      width: 41.66666667%;
    }
    .col-md-4 {
      width: 33.33333333%;
    }
    .col-md-3 {
      width: 25%;
    }
    .col-md-2 {
      width: 16.66666667%;
    }
    .col-md-1 {
      width: 8.33333333%;
    }
    .col-md-pull-12 {
      right: 100%;
    }
    .col-md-pull-11 {
      right: 91.66666667%;
    }
    .col-md-pull-10 {
      right: 83.33333333%;
    }
    .col-md-pull-9 {
      right: 75%;
    }
    .col-md-pull-8 {
      right: 66.66666667%;
    }
    .col-md-pull-7 {
      right: 58.33333333%;
    }
    .col-md-pull-6 {
      right: 50%;
    }
    .col-md-pull-5 {
      right: 41.66666667%;
    }
    .col-md-pull-4 {
      right: 33.33333333%;
    }
    .col-md-pull-3 {
      right: 25%;
    }
    .col-md-pull-2 {
      right: 16.66666667%;
    }
    .col-md-pull-1 {
      right: 8.33333333%;
    }
    .col-md-pull-0 {
      right: auto;
    }
    .col-md-push-12 {
      left: 100%;
    }
    .col-md-push-11 {
      left: 91.66666667%;
    }
    .col-md-push-10 {
      left: 83.33333333%;
    }
    .col-md-push-9 {
      left: 75%;
    }
    .col-md-push-8 {
      left: 66.66666667%;
    }
    .col-md-push-7 {
      left: 58.33333333%;
    }
    .col-md-push-6 {
      left: 50%;
    }
    .col-md-push-5 {
      left: 41.66666667%;
    }
    .col-md-push-4 {
      left: 33.33333333%;
    }
    .col-md-push-3 {
      left: 25%;
    }
    .col-md-push-2 {
      left: 16.66666667%;
    }
    .col-md-push-1 {
      left: 8.33333333%;
    }
    .col-md-push-0 {
      left: auto;
    }
    .col-md-offset-12 {
      margin-left: 100%;
    }
    .col-md-offset-11 {
      margin-left: 91.66666667%;
    }
    .col-md-offset-10 {
      margin-left: 83.33333333%;
    }
    .col-md-offset-9 {
      margin-left: 75%;
    }
    .col-md-offset-8 {
      margin-left: 66.66666667%;
    }
    .col-md-offset-7 {
      margin-left: 58.33333333%;
    }
    .col-md-offset-6 {
      margin-left: 50%;
    }
    .col-md-offset-5 {
      margin-left: 41.66666667%;
    }
    .col-md-offset-4 {
      margin-left: 33.33333333%;
    }
    .col-md-offset-3 {
      margin-left: 25%;
    }
    .col-md-offset-2 {
      margin-left: 16.66666667%;
    }
    .col-md-offset-1 {
      margin-left: 8.33333333%;
    }
    .col-md-offset-0 {
      margin-left: 0%;
    }
  }
  @media (min-width: 1200px) {
    .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
      float: left;
    }
    .col-lg-12 {
      width: 100%;
    }
    .col-lg-11 {
      width: 91.66666667%;
    }
    .col-lg-10 {
      width: 83.33333333%;
    }
    .col-lg-9 {
      width: 75%;
    }
    .col-lg-8 {
      width: 66.66666667%;
    }
    .col-lg-7 {
      width: 58.33333333%;
    }
    .col-lg-6 {
      width: 50%;
    }
    .col-lg-5 {
      width: 41.66666667%;
    }
    .col-lg-4 {
      width: 33.33333333%;
    }
    .col-lg-3 {
      width: 25%;
    }
    .col-lg-2 {
      width: 16.66666667%;
    }
    .col-lg-1 {
      width: 8.33333333%;
    }
    .col-lg-pull-12 {
      right: 100%;
    }
    .col-lg-pull-11 {
      right: 91.66666667%;
    }
    .col-lg-pull-10 {
      right: 83.33333333%;
    }
    .col-lg-pull-9 {
      right: 75%;
    }
    .col-lg-pull-8 {
      right: 66.66666667%;
    }
    .col-lg-pull-7 {
      right: 58.33333333%;
    }
    .col-lg-pull-6 {
      right: 50%;
    }
    .col-lg-pull-5 {
      right: 41.66666667%;
    }
    .col-lg-pull-4 {
      right: 33.33333333%;
    }
    .col-lg-pull-3 {
      right: 25%;
    }
    .col-lg-pull-2 {
      right: 16.66666667%;
    }
    .col-lg-pull-1 {
      right: 8.33333333%;
    }
    .col-lg-pull-0 {
      right: auto;
    }
    .col-lg-push-12 {
      left: 100%;
    }
    .col-lg-push-11 {
      left: 91.66666667%;
    }
    .col-lg-push-10 {
      left: 83.33333333%;
    }
    .col-lg-push-9 {
      left: 75%;
    }
    .col-lg-push-8 {
      left: 66.66666667%;
    }
    .col-lg-push-7 {
      left: 58.33333333%;
    }
    .col-lg-push-6 {
      left: 50%;
    }
    .col-lg-push-5 {
      left: 41.66666667%;
    }
    .col-lg-push-4 {
      left: 33.33333333%;
    }
    .col-lg-push-3 {
      left: 25%;
    }
    .col-lg-push-2 {
      left: 16.66666667%;
    }
    .col-lg-push-1 {
      left: 8.33333333%;
    }
    .col-lg-push-0 {
      left: auto;
    }
    .col-lg-offset-12 {
      margin-left: 100%;
    }
    .col-lg-offset-11 {
      margin-left: 91.66666667%;
    }
    .col-lg-offset-10 {
      margin-left: 83.33333333%;
    }
    .col-lg-offset-9 {
      margin-left: 75%;
    }
    .col-lg-offset-8 {
      margin-left: 66.66666667%;
    }
    .col-lg-offset-7 {
      margin-left: 58.33333333%;
    }
    .col-lg-offset-6 {
      margin-left: 50%;
    }
    .col-lg-offset-5 {
      margin-left: 41.66666667%;
    }
    .col-lg-offset-4 {
      margin-left: 33.33333333%;
    }
    .col-lg-offset-3 {
      margin-left: 25%;
    }
    .col-lg-offset-2 {
      margin-left: 16.66666667%;
    }
    .col-lg-offset-1 {
      margin-left: 8.33333333%;
    }
    .col-lg-offset-0 {
      margin-left: 0%;
    }
  }
  .clearfix:before,
  .clearfix:after,
  .container:before,
  .container:after,
  .container-fluid:before,
  .container-fluid:after,
  .row:before,
  .row:after {
    content: " ";
    display: table;
  }
  .clearfix:after,
  .container:after,
  .container-fluid:after,
  .row:after {
    clear: both;
  }
  .center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .pull-right {
    float: right !important;
  }
  .pull-left {
    float: left !important;
  }
  .hide {
    display: none !important;
  }
  .show {
    display: block !important;
  }
  .invisible {
    visibility: hidden;
  }
  .text-center {
    text-align: center;
  }
  .text-hide {
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0;
  }
  .hidden {
    display: none !important;
  }
  .affix {
    position: fixed;
  }
  @-ms-viewport {
    width: device-width;
  }
  .visible-xs,
  .visible-sm,
  .visible-md,
  .visible-lg {
    display: none !important;
  }
  .visible-xs-block,
  .visible-xs-inline,
  .visible-xs-inline-block,
  .visible-sm-block,
  .visible-sm-inline,
  .visible-sm-inline-block,
  .visible-md-block,
  .visible-md-inline,
  .visible-md-inline-block,
  .visible-lg-block,
  .visible-lg-inline,
  .visible-lg-inline-block {
    display: none !important;
  }
  @media (max-width: 767px) {
    .visible-xs {
      display: block !important;
    }
    table.visible-xs {
      display: table !important;
    }
    tr.visible-xs {
      display: table-row !important;
    }
    th.visible-xs,
    td.visible-xs {
      display: table-cell !important;
    }
  }
  @media (max-width: 767px) {
    .visible-xs-block {
      display: block !important;
    }
  }
  @media (max-width: 767px) {
    .visible-xs-inline {
      display: inline !important;
    }
  }
  @media (max-width: 767px) {
    .visible-xs-inline-block {
      display: inline-block !important;
    }
  }
  @media (min-width: 768px) and (max-width: 991px) {
    .visible-sm {
      display: block !important;
    }
    table.visible-sm {
      display: table !important;
    }
    tr.visible-sm {
      display: table-row !important;
    }
    th.visible-sm,
    td.visible-sm {
      display: table-cell !important;
    }
  }
  @media (min-width: 768px) and (max-width: 991px) {
    .visible-sm-block {
      display: block !important;
    }
  }
  @media (min-width: 768px) and (max-width: 991px) {
    .visible-sm-inline {
      display: inline !important;
    }
  }
  @media (min-width: 768px) and (max-width: 991px) {
    .visible-sm-inline-block {
      display: inline-block !important;
    }
  }
  @media (min-width: 992px) and (max-width: 1199px) {
    .visible-md {
      display: block !important;
    }
    table.visible-md {
      display: table !important;
    }
    tr.visible-md {
      display: table-row !important;
    }
    th.visible-md,
    td.visible-md {
      display: table-cell !important;
    }
  }
  @media (min-width: 992px) and (max-width: 1199px) {
    .visible-md-block {
      display: block !important;
    }
  }
  @media (min-width: 992px) and (max-width: 1199px) {
    .visible-md-inline {
      display: inline !important;
    }
  }
  @media (min-width: 992px) and (max-width: 1199px) {
    .visible-md-inline-block {
      display: inline-block !important;
    }
  }
  @media (min-width: 1200px) {
    .visible-lg {
      display: block !important;
    }
    table.visible-lg {
      display: table !important;
    }
    tr.visible-lg {
      display: table-row !important;
    }
    th.visible-lg,
    td.visible-lg {
      display: table-cell !important;
    }
  }
  @media (min-width: 1200px) {
    .visible-lg-block {
      display: block !important;
    }
  }
  @media (min-width: 1200px) {
    .visible-lg-inline {
      display: inline !important;
    }
  }
  @media (min-width: 1200px) {
    .visible-lg-inline-block {
      display: inline-block !important;
    }
  }
  @media (max-width: 767px) {
    .hidden-xs {
      display: none !important;
    }
  }
  @media (min-width: 768px) and (max-width: 991px) {
    .hidden-sm {
      display: none !important;
    }
  }
  @media (min-width: 992px) and (max-width: 1199px) {
    .hidden-md {
      display: none !important;
    }
  }
  @media (min-width: 1200px) {
    .hidden-lg {
      display: none !important;
    }
  }
  .visible-print {
    display: none !important;
  }
  @media print {
    .visible-print {
      display: block !important;
    }
    table.visible-print {
      display: table !important;
    }
    tr.visible-print {
      display: table-row !important;
    }
    th.visible-print,
    td.visible-print {
      display: table-cell !important;
    }
  }
  .visible-print-block {
    display: none !important;
  }
  @media print {
    .visible-print-block {
      display: block !important;
    }
  }
  .visible-print-inline {
    display: none !important;
  }
  @media print {
    .visible-print-inline {
      display: inline !important;
    }
  }
  .visible-print-inline-block {
    display: none !important;
  }
  @media print {
    .visible-print-inline-block {
      display: inline-block !important;
    }
  }
  @media print {
    .hidden-print {
      display: none !important;
    }
  }
  